@font-face {
  font-family: "Gotham-Rounded";
  src: url('gotham-rounded/GothamRounded-Book.otf');
  
  /* IE */
}
header {
  height: 72px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}
body {
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}
body a {
  color: #085CA0;
}
.header-text {
  font-size: 18px;
  font-family: "Gotham-Rounded";
  font-weight: 500;
  cursor: pointer;
}
.header-text .fa-bars {
  margin-right: 15px;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #FFFFFF;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #2D2D2D;
  min-height: calc(100vh - 72px);
}
#sidebar.closed {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}
#sidebar ul.components {
  padding: 20px 0;
}
#sidebar ul p {
  color: #2D2D2D;
  padding: 10px;
}
#sidebar ul img {
  margin-right: 10px;
}
#sidebar ul li a {
  padding-left: 28px;
  padding-right: 15px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  color: #2D2D2D;
  padding-top: 15px;
  padding-bottom: 15px;
}
#sidebar ul li a .fa-chevron-down {
  margin-left: auto;
}
#sidebar .button {
  background-color: #085CA0;
  border-radius: 4px;
  border: 1px solid #085CA0;
  color: white;
  width: 100%;
  padding: 15px;
  margin-top: 15px;
}
#sidebar .button:hover {
  background-color: white;
  color: #085CA0;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #F2F2F2;
}
.logout-button {
  cursor: pointer;
  font-size: 16px;
  font-family: "Arial";
  font-weight: bold;
}
.logout-button .fa-sign-out {
  font-size: 18px;
  font-weight: normal;
  margin-right: 7px;
}
.header-right {
  margin-left: auto;
}
.main-content {
  margin-top: 20px;
  padding-left: 28px;
  padding-right: 28px;
  width: 100%;
  transition: all 0.3s;
  max-height: calc(100vh - 92px);
  height: calc(100vh - 92px);
  overflow-y: hidden;
}
.breadcrumb {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.breadcrumb > li + li:before {
  font-family: FontAwesome;
  content: "\f054 ";
  padding: 0 5px;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.sub-content {
  display: inline-grid;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}
.sub-content .sub-content-header {
  padding: 18px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.16);
}
.sub-content .sub-content-header h2 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.sub-content .sub-content-body {
  margin-top: 15px;
  padding: 8px 18px;
}
#upload-image {
  width: 380px;
}
@media only screen and (max-width: 991px) {
  #upload-image {
    width: 100%;
  }
}
#upload-image #uploaded-image {
  border: 1px solid #085CA0;
  border-radius: 4px;
  height: auto;
  min-height: 300px;
  width: 100%;
  margin-bottom: 15px;
}
#upload-image .btn {
  border: 1px solid #085CA0;
  color: #085CA0;
  font-size: 15px;
  padding: 9px 19px;
}
#upload-image .upload-button-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
#upload-image input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
#add-product-form {
  height: 75vh;
  overflow-y: auto;
  width: 60%;
  margin-left: 15px;
}
#add-product-form .form-row {
  margin-top: 15px;
}
#add-product-form .form-group input {
  border-style: none;
  border-bottom: 1px solid #2D2D2D;
  border-radius: 0px;
  box-shadow: none;
}
#add-product-form .form-group.has-error label {
  color: #E40000;
}
#add-product-form .form-group.has-error input {
  border-bottom: 1px solid #E40000;
}
#add-product-form .form-group.has-error .help-block {
  color: #E40000;
}
label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}
input {
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}
input:focus {
  outline: 0;
}
input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 10;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
.text-right {
  text-align: right;
}
.submit-form-row .btn {
  border: 1px solid #085CA0;
  padding: 12px 30px;
  font-weight: 600px;
  font-size: 15px;
  margin-right: 10px;
}
.submit-form-row .btn.btn-primary {
  background-color: #085CA0;
  color: #FFF;
  margin-right: 0;
}
select.form-control {
  border: 0px;
  box-shadow: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #2D2D2D;
}
